.body{
	background-color: lightgrey;
}
.container {
	padding: 5px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	height: 400px;
	background-color: lightgrey;
}
.amount {
	background-color: orange;
	color: white;
	border-radius: 10px;
	display: inline-block;
	height: 20px;
	width: 20px;
	text-align: center;
}
.badge {
	position: fixed;
	bottom: -75px;
	left: 10px;
	width: 100px;
	height: 100px;
	border: 2px solid #6C63FF;
	background-color: #6C63FF;
	color: #FFFFFF;
	border-radius: 5px;
	text-align: center;
	transition: transform 0.3s, background-color 0.3s;
	cursor: pointer;
}

.badge:hover {
	transform: translateY(-90px);
	background-color: #8F89FF;
}

.badge-content {
	padding: 5px;
	transition: opacity 0.3s;
}

.badge:hover .badge-content {
	opacity: 1;
}
@media print {
	.badge {
		height: 70px;
		padding-top: 20px;
		border-radius: 20px 20px 0 0;
		border-color: #6C63FF;
		background-color: #FFFFFF;
		color: #6C63FF;
	}
	.badge-content-print {
		@transform: translateY(-20px);
	}
}
@media (max-width: 500px) {
	.container{
		flex-direction: column;
	}
	.firstRectangle,
	.secondRectangle{
		flex-grow: 1;
		margin-bottom: 10px;
		margin-right: 0;
	}
	.firstLine button{
		width: 5%;
	}
}
.firstRectangle{
	max-width: 70%;
	width: 70%;
	background-color: white;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 2%;
	display: inline-block;
	border-radius: 5px;
}
.firstLine{
	height: 18%;
	width: 100%;
}
.typeArea{
	margin-left: 2%;
	margin-bottom: 21px;
	margin-top: 21px;
	height: 32px;
	width: 75%;
	max-width: 75%;
	font-size: 17px;
}
.firstLine button{
	width: 20%;
	height: 60%;
	max-height: 90%;
	background-color: #2285d0;
	color: white;
	border-radius: 0 5px 5px 0;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 100%;
	box-shadow: inset 0 -4px 0 0 #2276b7;
}
.secondLine{
	display: flex;
	justify-content: space-between;
	height: 18%;
}
.secondLine .product{
	border:Transparent;
	background: Transparent;
	margin-left: 9%;
	margin-top:9%;
	display: inline-block;
	font-weight: bold;
	font-family: Arial;
}
.thirdLine{
	display: flex;
	justify-content: space-between;
	height: 18%;
}
.newLine{
	display: flex;
	justify-content: space-between;
	height: 18%;
}
.newLine .product{
	border:Transparent;
	background: Transparent;
	margin-left: 9%;
	margin-top:9%;
	display: inline-block;
	font-weight: bold;
	font-family: Arial;
}
.thirdLine .product{
	border:Transparent;
	background: Transparent;
	margin-left: 9%;
	margin-top:9%;
	display: inline-block;
	font-weight: bold;
	font-family: Arial;
}
.fourthLine{
	display: flex;
	justify-content: space-between;
	height: 18%;
}
.fourthLine .product{
	border:Transparent;
	background: Transparent;
	margin-left: 9%;
	margin-top:9%;
	display: inline-block;
	font-weight: bold;
	font-family: Arial;
}
.secondRectangle{
	max-width: 25%;
	width: 25%;
	background-color: white;
	margin-top: 1%;
	margin-right: 1%;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 2%;
}
.amount1{
	background-color: lightgrey;
	border-radius: 5px;
	display: inline-block;
}

.firstLine2{
	height: 18.4%;
	font-family: Arial;
	font-size: 93%;
	margin-left: 4%;
}
.secondLine2{
	height: 18%;;
	display: inline-block;
	margin-left: 4%;
}
.thirdLine2{
	height: 15.3%;
	font-family: Arial;
	font-size: 90%;
	margin-left: 4%;
}
.fourthLine2{
	height: 18%;
}
.fourthLine2 .label{
	display: none;
}
.minusButton{
	background-color: #db2828;
	color: white;
	border-radius: 50%;
	text-align: center;
	border-width : 0px;
	width: 25%;
	height: 55%;
	box-shadow: inset 0 -2px 0 0 #bf2728;
}
.plusButton{
	background-color: #22ba46;
	color: white;
	border-radius: 50%;
	text-align: center;
	border-width : 0px;
	width: 25%;
	height: 55%;
	box-shadow: inset 0 -2px 0 0 #21a340;
}
.number{
	background-color: lightgrey;
	width: 25%;
	height: 55%;
}

.buttonsSect{
	margin-top:1%;
	height: 100%;
	display: inline-block;
	alignment: center;
	width:15%;
	height: 90%;
}
.boughtButton{
	height: 80%;
	width: 65%;
	background-color: #2285d0;
	box-shadow: inset 0 -5px 0 0 #a6a6a7;
	font-family: Arial;
	font-size: 80%;
	font-weight: bold;
	background-color: white;
	border: 1px solid gray;
	border-radius: 6px;
}
.cancelButton{
	height: 80%;
	width:25%;
	background-color: #db2828;
	box-shadow: inset 0 -2px 0 0 #bf2728;
	color: white;
	border-radius: 10px;
	border-width: 0px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
}
.cancelBought{
	margin-top: 1%;
	display: inline-block;
	width:18%;
}
.canBo {
	margin-top: 1%;
	display: inline-block;
	width:18%;
}

button {
	position: relative;
	transform-style: preserve-3d;
}
button:after{
	content: attr(data-tooltip) ;
	padding: 5px;
	bottom: 100%;
	min-width:50px;
	position: absolute;
	white-space: nowrap;
	transform: translate(-50%, 5px) translateZ(-1px);
	border-radius: 5px;
	left: 50%;
	background: #AF01DA;
	color: white;
	transition: 0.5s;
	visibility: hidden;

}
button:hover::after {
	transform: translate(-50%, -5px) translateZ(0);
	visibility: visible;
	display: block;
}


